<% include partials/header %>

  <section style="margin: 200px">

    <div>
      <div>
        <h1>Log in</h1>

        <form action="/login" method="post">
          <input type="text" name="username" placeholder="Username" required>
          <input type="password" name="password" placeholder="Password" required>
          <button class="btn btn-transparent">Login</button>
        </form>
      </div>

    </div>
  </section>


  <% include partials/footer %>
